.promo {
    // width: 567px;
    height: 399px;
    display: flex;
    flex-direction: column;
    &__header {
        padding-bottom: 40px;
    }

    &__content {
        padding-bottom: 40px;
    }

    &__button-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

@media only screen and (max-width: $small) {
    .promo {

        &__video {
            margin: 20px 0;
        }

        &__button-group {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }
}