$extralarge:   1200px;
$large:         992px;
$medium:        768px;
$small:         576px;

$background:      #074ECE;
$primary:         #34B2FF;
$white:           #FFFFFF;
$text:            #666666;
$title-secondary: #171614;